<!doctype html>
<html lang="en-US">
  <head>
    <% json.project.title %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= t.include("partials/_head.html")%>
    <% grunt.data.json %>
    <% var gameGrades = json.Games; %>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>

  <body>
    <responsive-child>


      <div class="flex-container">
          <div class="item">
          <h2>OFFENSE</h2>
    <div class="chatter">Beat writer Bob Condotta grades the Seahawks on a GPA scale.
    </div>
            <canvas id="myChart" width="355" height="355"></canvas>
          </div>
          <div class="item">
          <h2>DEFENSE</h2>
    <div class="chatter">Beat writer Bob Condotta grades the Seahawks on a GPA scale.
    </div>
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div>
      </div>

    </responsive-child>

    <script> window.gameData = <%= JSON.stringify(gameGrades) %> </script>
    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
